<div *ngIf="isError; else noError">

  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">

      <article class="message is-danger">
        <div class="message-header">
          <p>No Auth</p>
          <button class="delete" (click)="onCancel()" aria-label="delete"></button>
        </div>
        <div class="message-body">
          Login via the toolbar to start tagging.
        </div>
      </article>

    </div>
  </div>

</div>

<ng-template #noError>

  <div class="card" *ngIf="!isDone; else doneDialog">
    <div class="card-header">
      <div class="card-header-title">Tag image</div>
    </div>
    <div class="card-content">
      <!--<p>{{ userToken }}</p>-->
      <img [attr.src]="imgUrl" alt="">

      <div class="field">
        <label class="label">Image source</label>
        <div class="control">
          <input class="input" type="text" [value]="pageUrl" disabled>
        </div>
      </div>

      <div class="field">
        <label class="label">Notes</label>
        <div class="control">
          <input class="input" type="text" placeholder="Notes">
        </div>
      </div>

      <div class="field">
        <label class="label">People tagged in this image:</label>
        <div class="control">
          <input class="input" type="text">
        </div>
      </div>


      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" (click)="onSubmit()" [class.is-loading]="isSending">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #doneDialog>
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">

      <article class="message is-success">
        <div class="message-header">
          <p>Done</p>
          <button class="delete" (click)="onCancel()" aria-label="delete"></button>
        </div>
        <div class="message-body">
          Metadata submitted.
        </div>
      </article>

    </div>
  </div>
</ng-template>
