:host {
  display: block;
  margin: 2em auto;
  width: 80%;
}

button {
  margin-right: 1em;
}

.tag-container {
  position: relative;
}
.tag-box {
  position: absolute;
  border: 5px solid blue;
}
.tag-preview {
  width: 96px;
  height: 96px;
  overflow: hidden;
  position: relative;
}
.tag-fields-wrapper {
  margin-bottom: 1em;
}

.tag-box > span {
  color: white;
  font-weight: bold;
}
.remove-tag-button {
  position: absolute;
}