<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="card">
    <div class="card-header">
      <div class="card-header-title">Tag image</div>
    </div>
    <div class="card-content">

      <div class="tag-container">
        <img [attr.src]="imageUrl" (load)="onImageLoad($event)" #sourceImage draggable="false" (click)="onImageClicked($event)">

        <div *ngFor="let tag of formTags.getRawValue(); let i = index">
          <div class="tag-box" (mousedown)="onTagMouseDown(i)"
               [style.top.px]="tag.region.minY"
               [style.left.px]="tag.region.minX"
               [style.width.px]="100"
               [style.height.px]="100">
            <span>{{ tag.name }}</span>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Image source</label>
        <div class="control">
          <input class="input" type="text" formControlName="pageUrl">
        </div>
      </div>

      <div formArrayName="tags">
        <div class="tag-fields-wrapper" *ngFor="let tag of formTags.controls; let i = index" [formGroupName]="i">



          <div class="media">
            <div class="media-left">
              <div class="tag-preview">
                <button class="delete is-large" aria-label="delete" (click)="removeTag(i)"></button>
                <img [attr.src]="imageUrl" draggable="false"
                     [style.margin-left.px]="-tag.get('region').value['minX']"
                     [style.margin-top.px]="-tag.get('region').value['minY']"
                     [style.max-width.px]="imageWidth"
                     [style.width.px]="imageWidth"
                     [style.height.px]="imageHeight">
              </div>
            </div>
            <div class="media-content">

              <div class="field has-addons">
                <p class="control">
                  <a class="button is-static">
                    Tag {{ i + 1 }}
                  </a>
                </p>
                <p class="control is-expanded">
                  <input class="input is-fullwidth" type="text" formControlName="name">
                </p>
                <div class="control">
                  <div class="select">
                    <select formControlName="visibility">
                      <option>Public</option>
                      <option>Private</option>
                      <option>Custom</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
          </div>



        </div>
      </div>


    </div>
    <div class="card-footer">
      <div class="card-footer-item">
        <button class="button is-link" [disabled]="form.invalid">Submit</button>
        <button class="button is-light">Cancel</button>
      </div>
    </div>
  </div>

</form>
